#full-calendar {
  width: 90%;
  margin:auto;
}

/* Month header */
.month {
    padding: 70px 25px;
    width: 100%;
    /*background: #1abc9c;*/
    /* background: #50CAFF; */
    background: #519cbd;
    text-align: center;
  }
  
  /* Month list */
  .month ul {
    margin: 0;
    padding: 0;
  }
  
  .month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  
  /* Previous button inside month header */
  .month #prev { /*originally was .prev*/
    float: left;
    padding-top: 10px;
  }
  
  /* Next button */
  .month #next { /*originally was .next*/
    float: right;
    padding-top: 10px;
  }

  /* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
  }
  
  .weekdays th { /*originally was li*/
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
  }
  
  /* Days (1-31) .days */
  #calendar-days {
    padding: 10px 0;
    /*background: #eee;*/
    background: white;
    margin: 0;
  }
  /*.days li*/
  #calendar-days td {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    background: white;
    color: black;
  }
  
#calendar-days .inactive {
  /* color: rgb(184, 181, 181); like, but might be too light */
  color: rgb(160, 156, 156);
}

/*not sure if it should be purple outline with bold black font or 
purple background with white (slightly thicker) font */
#calendar-days .active {
  margin:auto;
  /* padding: 5px; */
  height: 22px;
  width: 23px;
  padding-bottom: 10px;
  border-radius: 30%;
  border: 2px solid  #9900ff;
  background: #9900ff;
  font-weight: 650;
  /* font-weight: bold; */
  color: white;
  
  /* background: greenyellow; */
}

#calendar-days .empty {
  /* color: rgb(184, 181, 181); like, but might be too light */
  margin:auto;
  height: 22px;
  width: 23px;
  padding-bottom: 10px;
  border-radius: 30%;
  border: 2px solid grey;
}

#calendar-days .goodDay {
  /* color: rgb(184, 181, 181); like, but might be too light */
  margin:auto;
  height: 22px;
  width: 23px;
  padding-bottom: 10px;
  border-radius: 30%;
  border: 2px solid yellowgreen;
  background: yellowgreen;
  color: white;
}

#calendar-days .okayDay {
  /* color: rgb(184, 181, 181); like, but might be too light */
  margin:auto;
  height: 22px;
  width: 23px;
  padding-bottom: 10px;
  border-radius: 30%;
  border: 2px solid orange;
  background: orange;
  color: white;
}

#calendar-days .badDay {
  /* color: rgb(184, 181, 181); like, but might be too light */
  margin:auto;
  height: 22px;
  width: 23px;
  padding-bottom: 10px;
  border-radius: 30%;
  border: 2px solid red;
  background: red;
  color: white;
}


 /* Highlight the "current" day 
  originally:  .days li .active
  /* og .active, but changed it 
#calendar-days .active {
    padding: 5px;
    /*background: #1abc9c;*/
    /*color: white;*/
    /*
    border-radius: 10px;
    border: 3px solid #BADA55; #had an interesting look when all 4 combined
    */
    /*border-radius: 50%;*/
    /* border: 2px solid #9900ff;
    background:white;
    font-weight: bold; */
  /*} */