/* style for login */
body{
    margin: 0;
    padding: 0;
    background-color: bisque;
    font-family: sans-serif;
}

.loginbox{
    width: 320px;
    height: 420px;
    background: palevioletred;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 10px;
    box-shadow: 5px 8px rgba(0, 128, 128, 0.405);
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);

}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    color: black;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid;
    outline: none;
    height: 40px;
}

/*? do we want background shade to change when clicked???*/
/* .loginbox input[type="text"]:focus, input[type="password"]:focus{
    border: none;
    border-bottom: 1px solid;
    outline: none;
    height: 40px;
    background-color: rgb(184, 184, 184);
} */

.loginbox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    /* width: 50%; */
    border-radius: 10px;
    background: rgb(255, 221, 84);
    font-weight: bold;
    font-size: larger;
}

.loginbox input[type="submit"]:hover{
    cursor: pointer;
    background: #ffbf00;
}

.loginbox a{
    text-decoration: none;
    line-height: 20px;
}

.loginbox a:hover{
    color: #3d07ff
}

/* welcome page*/

.welcomePage{
    width: 320px;
    height: 420px;
    background: palevioletred;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 10px;
    box-shadow: 5px 8px rgba(0, 128, 128, 0.405);
}

.welcomePage a{
    margin: 10;
    width: 80%;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 10px;
    background: rgb(255, 221, 84);
    color: black;
    font-weight: bold;
    text-align: center;
}

.welcomePage a:hover{
    cursor: pointer;
    background: #ffbf00;
}


/* registration page*/
.registerbox{
    width: 320px;
    height: 420px;
    background: palevioletred;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 10px;
    box-shadow: 5px 8px rgba(0, 128, 128, 0.405);
}