body{
    background-color: #519cbd;
}

.myHeader{
    color: white;
    text-align: center;
    border-bottom: white dotted 10px;
}

#welcome{
    margin-top: 20px;
    margin-bottom: 0;
    padding-right: 5%;
    /* font-family: monospace; */
}

.myTitle{
    margin-top: 0;
    font-size: 120px;
    text-align: center;
}
.myBox{
    background-color: #005E7C;
    color: white;
    height: 150px;
}

