body{
    background: #519cbd;
}

.myHeader p{
    font-size: 80px;
    color: white;
    text-align: center;
    margin-bottom: 5px;
}

.first-div{
    width: 100%;
    margin-top: 0px;
}
.second-div{
    /* background-color: yellow; */
    margin-top: 0px;
}
.second-div .third-div{
    width: 80%;
    
}
.third-div{
    /* background-color: pink; */
    margin: 0 auto;
    /* margin-left: 200px; */
}

/* .test .last-test{
    width: 60%;
} */

.last-div{
    /* background-color: green; */
    margin-left: 15%;
    margin-right: 15%;
}

.card-content .myCard{
    text-align: center;
    font-weight: bold;
    color: #00415E;
}